{% extends 'base.html' %}
{% block title %}Create Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Create {{type}} Page</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {% ifequal type 'Customer' %}
                <input class="btn btn-success" type="submit" value="Submit">
                {% else %}
                <input class="btn btn-success" type="submit" value="Next">
                {% for message in messages %}
                <p style="color:red;"><b>{{message}}</b></p>
                {% endfor %}
                {% endifequal %}                
            </form>
        </div>
    </div>
</div>

{% endblock %}